.header {
  height: 85vh;

  position: relative;

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -39rem;
    text-align: center;
    //z-index: -1;

    @include respond(phone) {
      margin-left: -20rem;
    }
  }

  &__artbox {
    height: 85vh;
    width: 100%;
    position: relative;

    &--parallax {
      position: absolute;
      width: 100%;
      height: 85vh;
      background-size: cover;
      background-position: right center;
    }
  }
}

#para_00 {
  background-image: url(../../img/h_0_bkgrd.png);
  z-index: -10;
}

#para_01 {
  background-image: url(../../img/h_1_sun.png);
  z-index: -9;
}

#para_02 {
  background-image: url(../../img/h_2_mtn.png);
  z-index: -8;
}

#para_03 {
  background-image: url(../../img/h_3_mtn.png);
  z-index: -7;
}

#para_04 {
  background-image: url(../../img/h_4_mtn.png);
  z-index: -6;
}

#para_05 {
  background-image: url(../../img/h_5_mtn.png);
  z-index: -5;
}

#para_06 {
  background-image: url(../../img/h_6_mtn.png);
  z-index: -4;
}

#para_07 {
  background-image: url(../../img/h_7_foreground.png);
  
}
